@model TestTask.Models.Department

@{
    ViewData["Title"] = "Удалить департамент";
}

<h1>Удалить департамент</h1>

<h3>Вы уверены, что хотите удалить этот департамент?</h3>
<div>
    <h4>Информация о департаменте</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Название департамента
        </dt>
        <dd class="col-sm-10">
            @Model.DepartmentName
        </dd>
        <dt class="col-sm-2">
            Родительский отдел
        </dt>
        <dd class="col-sm-10">
            @(Model.ParentDepartment != null ? Model.ParentDepartment.DepartmentName : "Без родительского отдела")
        </dd>
        <dt class="col-sm-2">
            Должности
        </dt>
        <dd class="col-sm-10">
            @if (Model.Positions != null && Model.Positions.Any())
            {
                <ul>
                    @foreach (var position in Model.Positions)
                    {
                        <li>@position.PositionName</li>
                    }
                </ul>
            }
            else
            {
                <span>Нет должностей</span>
            }
        </dd>
        <dt class="col-sm-2">
            Дочерние отделы
        </dt>
        <dd class="col-sm-10">
            @if (Model.SubDepartments != null && Model.SubDepartments.Any())
            {
                <ul>
                    @foreach (var child in Model.SubDepartments)
                    {
                        <li>@child.DepartmentName</li>
                    }
                </ul>
            }
            else
            {
                <span>Нет дочерних отделов</span>
            }
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="DepartmentID" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Отменить</a>
    </form>
</div>
